
.icon-user:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-cancel-1:before { content: '\e806'; } /* '' */
.icon-cancel-2:before { content: '\e807'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
