<nav class="navigation">
  <div class="nav-logo">
    <a [routerLink]="'/'" alt="home">
      <img src="/assets/images/logo2.png" alt="logo" width="230px" height="80px">
    </a>
  </div>
  <div class="nav-menu">
    <ul class="nav-category" *ngFor="let category of getCategories">
      <li>{{category.name}}</li>
      <ul class="nav-submenu">
        <li *ngFor="let subcategory of category.subcategoriesDto">
          <a [routerLink]="[subcategory.name, subcategory.id, 'products']"
            [queryParams]="{ page: 1 }">{{subcategory.name}}</a>
        </li>
      </ul>
    </ul>
  </div>
  <div class="nav-user">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <input formControlName="search" type="search" class="search" placeholder="search">
      <button class="btn-search"><i class="icon-search-1"></i></button>
    </form>
    <a [routerLink]="['basket']"><i class="icon-basket"></i></a>
    <button *ngIf="!isLoggedIn()" (click)="changeStatusLogginForm()" class="btn-log">Login</button>
    <div *ngIf="isLoggedIn()" class="menu-user">
      <a [routerLink]="['accounts']"><i class="icon-user"></i></a>
      <button class="btn-log" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>