.navigation {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(20, 20, 20);
  border-bottom: 1px solid white;
  z-index: 999;
  .nav-logo {
    background-repeat: no-repeat;
  }
  .nav-menu {
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    font-family: "Baloo 2", cursive;
    font-size: 24px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
    margin: 0;
    ul,
    li {
      list-style: none;
      padding-left: 0;
    }
    .nav-category {
      padding-left: 0;
      margin: 0;
      display: block;
      position: relative;
      list-style: none;
      li {
        min-width: 130px;
        padding: 1rem;
        text-align: center;
        &:hover {
          cursor: default;
        }
      }
      .nav-submenu {
        background-color: rgb(20, 20, 20);
        position: absolute;
        visibility: hidden;
        z-index: 2;
        min-width: 100%;
        li {
          text-align: center;
          padding: 0;
          a {
            display: block;
            padding: 16px 0;
            color: rgb(255, 255, 255);
          }
          &:hover {
            text-decoration: underline;
          }
        }
        &:hover {
          visibility: visible;
          opacity: 1;
          display: block;
        }
        &:last-child {
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
        }
      }
      &:hover {
        border-left: 1px dashed white;
        border-right: 1px dashed white;
      }
      &:hover .nav-submenu {
        visibility: visible;
        opacity: 1;
        display: block;
        border: none;
      }
    }
    .icon {
      display: none;
    }
  }
  .nav-user {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    width: max-content;
    form {
      margin-top: auto;
      margin-bottom: auto;
      .search,
      .btn-search {
        padding: 4px 8px;
        border-radius: 10px;
      }
      .search {
        border: none;
        padding-right: 15px;
        &:focus {
          border-right: none;
        }
      }
      .btn-search {
        position: relative;
        left: -35px;
        cursor: pointer;
      }
    }
    .icon-basket,
    .icon-user {
      color: white;
      padding: 10px;
    }
    .icon-basket {
      display: block;
    }
    .btn-log {
      padding: 8px 12px;
      margin-left: 8px;
      color: white;
      font-size: 14px;
      letter-spacing: 0.3px;
      background-image: linear-gradient(
        47deg,
        rgba(88, 23, 210, 1) 28%,
        rgba(0, 212, 255, 1) 100%
      );
      border-radius: 15px;
      border: none;
      box-shadow: none;
      cursor: pointer;
    }
  }
  .menu-icon {
    position: relative;
    top: 26px;
    left: 8px;
    padding: 4px;
  }
  .nav-mobile-menu {
    position: fixed;
    top: 26px;
    left: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 20, 20);
    padding: 8px;
    text-align: left;
    ul {
      display: none;
      text-decoration: none;
      list-style: none;
      padding-left: 0;
      margin-left: 5px;
      p {
        cursor: context-menu;
        font-weight: 700;
        padding: 12px;
      }
      li {
        a {
          color: rgb(255, 255, 255);
          text-decoration: none;
          padding: 4px 0;
        }
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .navigation {
    .nav-user {
      form {
        width: 100%;
        margin-left: 40px;
      }
    }
  }
}
