<section class="form container">
    <div class="form wrapper">
        <div class="title-box">
            <h1>Confirm reset password</h1>
        </div>
        <form class="form-group-box" [formGroup]="confirmResetPasswordForm" (ngSubmit)="onSubmitConfirmResetPassword()">
            <div class="form-control-box">
                <input formControlName="password" type="password" class="password ele" placeholder="Password" />
                <div *ngIf="confirmResetPasswordForm.get('password')?.invalid && (confirmResetPasswordForm.get('password')?.dirty)"
                    class="errors">
                    <small *ngIf="confirmResetPasswordForm.get('password')?.errors?.['required']">
                        The password is required.<br>
                    </small>
                    <small *ngIf="confirmResetPasswordForm.get('password')?.errors?.['minLength'] || ['maxLength']">
                        The password must be between min 8 and max 30 letters.<br>
                    </small>
                    <small *ngIf="confirmResetPasswordForm.get('password')?.errors?.['pattern']">
                        The password must contain at least: <br>
                        - one uppercase letter <br> - one lowercase letter <br> - one special character
                    </small>
                </div>
            </div>
            <div class="form-control-box">
                <input formControlName="confirmPassword" type="password" class="password ele"
                    placeholder="Confirm password" />
                <div *ngIf="confirmResetPasswordForm.get('confirmPassword')?.invalid && (confirmResetPasswordForm.get('confirmPassword')?.dirty)"
                    class="errors">
                    <small *ngIf="confirmResetPasswordForm.get('confirmPassword')?.errors?.['required']">
                        The confirm password is required.<br>
                    </small>
                    <small *ngIf="confirmResetPasswordForm.hasError('passwordMatch')">
                        The passwords are diffrent.
                    </small>
                </div>
            </div>
            <div class="response-message" *ngIf="responseMsg">
                {{responseMsg}}
            </div>
            <button type="sumbit" class="clkbtn" [disabled]="confirmResetPasswordForm.invalid"
                [ngClass]="{'disabled-btn': confirmResetPasswordForm.invalid}">Confirm</button>
        </form>
    </div>
</section>