<div class="wrapper-orders">
    <div class="title">
        <h1>Your orders</h1>
    </div>
    <div class="box-orders">
        <div class="order" *ngFor="let order of listOrder">
            <div class="order-data">
                <p><span class="data">Name user: </span>{{order.nameUser}}</p>
                <p><span class="data">Products price: </span>{{order.productsPrice}}</p>
                <p><span class="data">Delivery address: </span><br>{{order.deliveryAddress}}</p>
                <p><span class="data">Shipment address: </span><br>{{order.shipmentAddress}}</p>
                <p><span class="data">Date of created: </span>{{order.dateOfCreated}}</p>
                <p><span class="data">Orders status: </span>{{order.status}}</p>
            </div>
            <div class="order-options">
                <button class="btn-update">Update</button>
                <button class="btn-delete">Delete</button>
            </div>
        </div>
    </div>
</div>