.wrapper-shipments {
  display: flex;
  flex-direction: column;
  width: 95%;
  border-radius: 15px;
  margin: 15px auto;
  background-color: aliceblue;
  .title-shipments {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    h1 {
      font-size: 32px;
    }
  }
  .list-shipments {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 15px;
    padding: 15px;
    .shipment {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      position: relative;
      padding: 20px;
      border-radius: 15px;
      background-color: rgb(228, 228, 228);
      .title {
        font-weight: 600;
      }
      .wprapper-product {
        display: flex;
        flex-flow: row wrap;
        .product-text {
          display: flex;
          flex-direction: column;
          height: max-content;
          padding: 15px;
          .description {
            max-width: 150px;
          }
        }
      }
      .btn-delete {
        position: absolute;
        top: -12px;
        right: -12px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 18px 1px 49px rgb(78, 82, 83);
        border: none;
        i {
          font-size: 20px;
        }
      }
      .btn-change {
        position: absolute;
        padding: 8px;
        bottom: 33px;
        right: 27px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 0px rgb(154, 155, 167);
        border: none;
      }
      .error {
        color: red;
      }
    }
  }
  .purchase-box {
    width: fit-content;
    margin: 0 auto;
    padding: 15px;
    .sumbit-box,
    .continue-box {
      padding: 15px;
      border-radius: 15px;
      background-color: rgb(228, 228, 228);
      p {
        font-weight: 600;
      }
      .btn-buy {
        padding: 8px;
        border-radius: 5px;
        border: 0;
        box-shadow: 0px 0px 6px 0px rgb(154, 155, 167);
        &:hover {
          background-color: darkgray;
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
