<section class="wrapper-shipments">
    <div class="title-shipments">
        <h1>Your basket</h1>
    </div>
    <div class="list-shipments">
        <div class="shipment" *ngFor="let shipment of basket">
            <div class="wprapper-product">
                <a class="product-name" [routerLink]="['/products', shipment.product.id]"><span class="title">Product
                        name: </span>{{shipment.product.name}}</a>
                <span class="product-img"><img src={{shipment.product.imageUrl}} alt="{{shipment.product.name}}"
                        width="256" height="256">
                </span>
            </div>
            <div class="shipment-products">
                <div class="quantity-box">
                    <div class="shipment-quantity" *ngIf="!isUpdate(shipment.product.id)">
                        <p><span class="title">Quantity: </span>{{shipment.quantity}}</p>
                    </div>
                    <form class="quantity-change" [formGroup]="changeForm"
                        (ngSubmit)="onSumbitChange(shipment.product.id)" *ngIf="isUpdate(shipment.product.id)">
                        <input formControlName="quantity" class="change-input" type="text" placeholder="Quantity">
                        <div class="error" *ngIf="changeForm.get('quantity')?.invalid">
                            <small *ngIf="changeForm.get('quantity')?.errors?.['min']">The quantity must be
                                positive.<br></small>
                            <small *ngIf="changeForm.get('quantity')?.errors?.['pattern']">The quantity must be a
                                number.</small>
                        </div>
                    </form>
                    <button class="btn-change" (click)="selectShipment(shipment.product.id)">Change</button>
                </div>
                <div class="shipment-price">
                    <p><span class="title">Price for the product: </span> {{getShipmentPrice(shipment.product.id)}} PLN
                    </p>
                </div>
            </div>
            <button class="btn-delete" (click)="deleteProductFromBasket(shipment.product.id)"><i
                    class="icon-cancel"></i></button>
        </div>
    </div>
    <div class="purchase-box">
        <div class="sumbit-box" *ngIf="isBasketEmpty">
            <p>Do you want to buy these products?</p>
            <button class="btn-continue" (click)="onSumbitBuy()" type="submit">Continue purchase</button>
            <div class="continue-box" *ngIf="!isLoggedIn && isBuyButtonClicked">
                <p>If you don't have an account, you need create account to buy these products. <br> You only spend one
                    minutes on it.</p>
                <p>Click on the button for the login or register an account.</p>
                <button class="btn-register" (click)="onLoginForm()">Login/Signup</button>
            </div>
        </div>
        <div class="message-box" *ngIf="!isBasketEmpty">
            <p>Your basker is empty</p>
        </div>
    </div>
</section>