.wrapper-shipments {
  display: flex;
  flex-direction: column;
  width: 95%;
  border-radius: 15px;
  margin: 15px auto;
  background-color: aliceblue;
  .title-shipments {
    border-bottom: 1px solid black;
    font-size: 32px;
  }
  .list-shipments {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 15px;
    padding: 15px;
    .shipment {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      position: relative;
      padding: 20px;
      border-radius: 15px;
      background-color: rgb(228, 228, 228);
      .title {
        font-weight: 600;
      }
      .wprapper-product {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        .product-img {
          margin: auto;
        }
      }
      .btn-delete {
        position: absolute;
        top: -12px;
        right: -12px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 5px 0px 9px -3px rgb(78, 82, 83);
        border: none;
        i {
          font-size: 20px;
        }
      }
      .btn-change {
        position: absolute;
        padding: 8px;
        bottom: 73px;
        right: 15px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 0px rgb(154, 155, 167);
        border: none;
      }
      .btn-delete,
      .btn-change {
        cursor: pointer;
        &:hover {
          background-color: darkgray;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      .error {
        color: red;
      }
    }
  }
  .purchase-box {
    width: fit-content;
    margin: 0 auto;
    padding: 15px;
    .sumbit-box,
    .register-box,
    .message-box {
      padding: 15px;
      border-radius: 15px;
      background-color: rgb(228, 228, 228);
      p {
        font-weight: 600;
      }
      .btn-continue,
      .btn-register {
        padding: 8px;
        border-radius: 5px;
        border: 0;
        box-shadow: 0px 0px 6px 0px rgb(154, 155, 167);
        cursor: pointer;
        &:hover {
          background-color: darkgray;
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}

@media only screen and (max-width: 726px) {
  .wrapper-shipments {
    justify-content: center;
    .list-shipments {
      .shipment {
        max-width: calc(100% - 20px);
        .wprapper-product {
          max-width: 100%;
        }
      }
    }
  }
}
