.wrapper {
  margin: 0;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.login-form {
  display: flex;
  justify-content: center;
}

app-form {
  z-index: 1;
  position: absolute;
  top: 100px;
}
