@import "./add-to-cart-button.scss";

.wrapper-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-products {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 25px 50px;
    background-color: aliceblue;
    border-radius: 15px;
    font-weight: 700;
    .sort-products {
      position: absolute;
      margin-right: 10%;
      margin-left: 75%;
      .sort {
        margin-left: 5px;
        margin-right: 5px;
        padding: 3px;
        border-radius: 5px;
      }
    }
    h1 {
      margin: 0;
      font-size: 32px;
      letter-spacing: 5px;
    }
    p {
      font-size: 22px;
    }
  }
  .list-product {
    width: 95%;
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 2em;
    .product {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      padding: 25px;
      max-width: 270px;
      background-color: aliceblue;
      border-radius: 15px;
      .product-name {
        text-decoration: none;
        color: black;
        &:hover {
          transform: scale(0.9);
        }
      }
      .product-img {
        display: flex;
        justify-content: center;
        img {
          width: 100%;
          max-width: 240px;
          max-height: 240px;
        }
      }
      .product-name {
        font-size: 22px;
        font-weight: bold;
      }
      .product-price-box {
        margin: auto;
        .quantity-product {
          .product-price {
            margin-right: 5px;
            p {
              margin: 0;
            }
          }
          .information-window {
            position: absolute;
            z-index: 0;
            max-width: 190px;
            padding: 10px;
            background-color: rgb(212, 212, 212);
            border-radius: 10px;
            display: none;
          }
          .button-change-quantity {
            cursor: pointer;
          }
          &:hover {
            .information-window {
              display: inline;
            }
          }
        }
      }
    }
  }
  .pagination {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 25px 50px;
    border-radius: 15px;
    .page {
      margin: 15px;
      padding: 0;
      row-gap: 2em;
      .btn-page {
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media only screen and (max-width: 341px) {
  .wrapper-products {
    .title-products {
      width: 90%;
    }
  }
}
