<section class="wrapper-products">
    <div class="title-products">
        <h1> {{pageTitle }} ({{quantityOfProducts}}) </h1>
    </div>
    <div class="list-product">
        <div class="product" *ngFor="let product of pageProduct?.products">
            <span class="product-name">{{product.name}}</span>
            <span class="product-img"><img src={{product.imageUrl}} alt="{{product.name}}" width="240" height="240"
                    fetchpriority="high">
            </span>

            <div class="add-to-cart">

            </div>
        </div>
    </div>
    <nav class="pagination">
        <div class="page" *ngFor="let pageNumber of totalPagesArray">
            <button class="btn-page">{{pageNumber}}</button>
            <!-- (click)="getPageProducts(pageNumber)" -->
        </div>
    </nav>
</section>