@import "form-ele-clkbtn-style.scss";
@import "container-wrapper-titlebox-style.scss";

.form-group-box {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  .form-control-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
    .input-box {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      label {
        font-weight: 600;
        text-align: left;
      }
    }
  }
}
