<div class="form-section">
    <div class="box">
        <h3>Add Subategory</h3>
        <form class="form-box" [formGroup]="addForm" (ngSubmit)="onSumbitAdd()">
            <label for="category">Choise a category</label>
            <select name="category" formControlName="choiceCategory">
                <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
            </select>
            <label for="subcategoryName">Subcategory name:</label>
            <input type="text" formControlName="subcategoryName" placeholder="Category name">
            <br>
            <div *ngIf="errorAddMessage" class="alert" role="alert">
                <span [innerHTML]="errorAddMessage"></span>
            </div>
            <button type="submit" class="clkbtn" [disabled]="addForm.invalid"
                [ngClass]="{'disabled-btn': updateForm.invalid}">Submit</button>
        </form>
    </div>
    <div class="box">
        <h3>Update Subategory</h3>
        <form class="form-box" [formGroup]="updateForm" (ngSubmit)="onSumbitUpdate()">
            <label for="category">Choise a category</label>
            <select name="category" formControlName="choiceCategory">
                <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
            </select>
            <label for="subcategory">Choise a subcategory</label>
            <select name="subcategory" formControlName="choiceSubcategory">
                <option *ngFor="let subcategory of subcategories" value="{{subcategory.id}}">{{subcategory.name}}
                </option>
            </select>
            <label for="category-name">Subcategory name:</label>
            <input type="text" formControlName="subcategoryName" placeholder="Category name">
            <br>
            <div *ngIf="errorUpdateMessage" class="alert" role="alert">
                <span [innerHTML]="errorUpdateMessage"></span>
            </div>
            <button type="submit" class="clkbtn" [disabled]="updateForm.invalid"
                [ngClass]="{'disabled-btn': updateForm.invalid}">Submit</button>
        </form>
    </div>
    <div class="box">
        <h3>Delete Subategory</h3>
        <form class="form-box" [formGroup]="deleteForm" (ngSubmit)="onSumbitDelete()">
            <label for="category">Choise a subcategory</label>
            <select name="category" formControlName="choiceCategory">
                <option *ngFor="let subcategory of subcategories" value="{{subcategory.id}}">{{subcategory.name}}
                </option>
            </select>
            <br>
            <div *ngIf="errorDeleteMessage" class="alert" role="alert">
                <span [innerHTML]="errorDeleteMessage"></span>
            </div>
            <button type="submit" class="clkbtn" [disabled]="deleteForm.invalid"
                [ngClass]="{'disabled-btn': deleteForm.invalid}">Submit</button>
        </form>
    </div>
</div>