<section class="wpraper-board">
    <div class="title">
        <h1>Admin board</h1>
    </div>
    <div class="board" *ngIf="isAdmin()">
        <div class="options pad">
            <h2>Modification Category</h2>
            <app-mod-category [categories]="categories"></app-mod-category>
        </div>
        <div class="options pad">
            <h2>Modification Subategory</h2>
            <app-mod-subcategory [subcategories]="subcategories" [categories]="categories"></app-mod-subcategory>
        </div>
        <div class="options pad">
            <h2>Modification Producer</h2>
            <app-mod-producer [producers]="producers"></app-mod-producer>
        </div>
        <div class="options pad">
            <h2>Modification ProductTypes</h2>
            <app-mod-product-type [productTypes]="productTypes"></app-mod-product-type>
        </div>
        <div class="options">
            <h2>Modification Products</h2>
            <app-mod-products [subcategories]="subcategories" [productTypes]="productTypes"
                [producers]="producers"></app-mod-products>
        </div>
    </div>
</section>