.wpraper-board {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Baloo 2", cursive;
  .title {
    width: 95%;
    padding: 10px;
    margin: 25px 0;
    background-color: aliceblue;
    border-radius: 15px;
    font-weight: 700;
    letter-spacing: 5px;
    h1 {
      margin: 0;
      font-size: 32px;
    }
  }
  .board {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row wrap;
    gap: 2em;
    padding-bottom: 20px;
    .options {
      padding: 35px;
      border-radius: 25px;
      background-color: aliceblue;
      h2 {
        margin: 0;
      }
    }
  }
}
