<section class="wpraper-board">
    <div class="title">
        <h1>Admin board</h1>
    </div>
    <div class="board" *ngIf="isAdmin()">
        <div class="options">
            <h2>Modification Category</h2>
            <app-mod-category [categories]="listCategories"></app-mod-category>
        </div>
        <div class="options">
            <h2>Modification Subategory</h2>
            <app-mod-subcategory [subcategories]="listSubcategories"
                [categories]="listCategories"></app-mod-subcategory>
        </div>
        <div class="options">
            <h2>Modification Products</h2>
            <app-mod-products [subcategories]="listSubcategories"></app-mod-products>
        </div>
        <div class="options">
            <h2>Modification Producer</h2>
            <app-mod-producer></app-mod-producer>
        </div>
    </div>
</section>