.footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  height: 60px;
  span {
    text-align: center;
    color: aliceblue;
  }
}
