<section class="wrapper-account">
    <div class="title-accounts">
        <h1>Your account</h1>
    </div>
    <div class="account-box">
        <div class="account-img">
            <img [src]="getUserImageUrl()" alt="account-img">
        </div>
        <div class="options-box">
            <div class="options">
                <a [routerLink]="['update']">Update account</a>
            </div>
            <div class="options">
                <a [routerLink]="['address/update']">Update address</a>
            </div>
            <div class="options">
                <a [routerLink]="['orders']">Your orders</a>
            </div>
        </div>
    </div>
    <div class="account-data">
        <p><span class="data">First name: </span>{{user.firstName}} </p>
        <p><span class="data">Last name: </span>{{user.lastName}} </p>
        <p><span class="data">Email: </span>{{user.email}}</p>
        <p><span class="data">City: </span>{{user.address.city}}</p>
        <p><span class="data">Postcode: </span>{{user.address.postcode}}</p>
        <p><span class="data">Street: </span>{{user.address.street}}</p>
    </div>
</section>