<div class="login-container">
    <div class="btn-box">
        <button class="btn-close" (click)="closeLoginForm()" aria-label="close">
            <i class="icon-cancel"></i>
        </button>
    </div>
    <div class="slider"></div>
    <div class="btn">
        <button class="login" (click)="onLogin()" aria-label="login">Login</button>
        <button class="signup" (click)="onSignup()" aria-label="signup">Signup</button>
    </div>
    <div class="form-section">
        <form class="login-box" [formGroup]="loginForm" (ngSubmit)="onSumbitLogin()" *ngIf="!getFormSectionMove">
            <input formControlName="email" type="email" class="email ele" placeholder="Email">
            <input formControlName="password" type="password" class="password ele" placeholder="Password">
            <div *ngIf="getSuccessMessage" class="alert" role="alert">
                {{ getSuccessMessage }}
            </div>
            <div *ngIf="getErrorMessage" class="errors" role="alert">
                <span [innerHTML]="getErrorMessage"></span>
            </div>
            <button type="sumbit" class="clkbtn" [disabled]="loginForm.invalid"
                [ngClass]="{'disabled-btn': loginForm.invalid}">Login</button>
            <div class="forgot-box">
                <a [routerLink]="['reset-password']" (click)="closeLoginForm()">Forgot password?</a>
            </div>
        </form>
        <form class="signup-box" [formGroup]="registrationForm" (ngSubmit)="onSubmitRegister()"
            *ngIf="getFormSectionMove">
            <div class="form-control-box" formGroupName="fullnameGroup">
                <input formControlName="firstName" type="text" class="name ele" placeholder="Name" />
                <div *ngIf="registrationForm.get('fullnameGroup.firstName')?.invalid && (registrationForm.get('fullnameGroup.firstName')?.dirty)"
                    class="errors">
                    <small *ngIf="registrationForm.get('fullnameGroup.firstName')?.errors?.['required']">
                        The first name is required.<br>
                    </small>
                    <small
                        *ngIf="registrationForm.get('fullnameGroup.firstName')?.errors?.['minLength'] || ['maxLength']">
                        The first name must be between min 3 and max 20 letters.<br>
                    </small>
                    <small *ngIf="registrationForm.get('fullnameGroup.firstName')?.errors?.['pattern']">
                        The first name cannot have numbers.</small>
                </div>
            </div>
            <div class="form-control-box" formGroupName="fullnameGroup">
                <input formControlName="lastName" type="text" class="email ele" placeholder="Last name" />
                <div *ngIf="registrationForm.get('fullnameGroup.lastName')?.invalid && (registrationForm.get('fullnameGroup.lastName')?.dirty)"
                    class="errors">
                    <small *ngIf="registrationForm.get('fullnameGroup.lastName')?.errors?.['required']">
                        The last name is required.<br>
                    </small>
                    <small
                        *ngIf="registrationForm.get('fullnameGroup.lastName')?.errors?.['minLength'] || ['maxLength']">
                        The last name must be between min 3 and max 20 letters.<br>
                    </small>
                    <small *ngIf="registrationForm.get('fullnameGroup.lastName')?.errors?.['pattern']">
                        The last name cannot havenumbers.
                    </small>
                </div>
            </div>
            <div class="form-control-box" formGroupName="emailGroup">
                <input formControlName="email" type="email" class="email ele" placeholder="Email" />
                <div *ngIf="registrationForm.get('emailGroup.email')?.invalid && (registrationForm.get('emailGroup.email')?.dirty)"
                    class="errors">
                    <small *ngIf="registrationForm.get('emailGroup.email')?.errors?.['required']">
                        The email is required.<br>
                    </small>
                    <small *ngIf="registrationForm.get('emailGroup.email')?.errors?.['pattern']">
                        Invalid the email format.<br>
                    </small>
                </div>
            </div>
            <div class="form-control-box" formGroupName="passwordGroup">
                <input formControlName="password" type="password" class="password ele" placeholder="Password" />
                <div *ngIf="registrationForm.get('passwordGroup.password')?.invalid && (registrationForm.get('passwordGroup.password')?.dirty)"
                    class="errors">
                    <small *ngIf="registrationForm.get('passwordGroup.password')?.errors?.['required']">
                        The password is required.<br></small>
                    <small
                        *ngIf="registrationForm.get('passwordGroup.password')?.errors?.['minLength'] || ['maxLength']">
                        The password must be between min 8 and max 30 letters.<br>
                    </small>
                    <small *ngIf="registrationForm.get('passwordGroup.password')?.errors?.['pattern']">
                        The password must contain at least: <br>
                        - one uppercase letter <br> - one lowercase letter <br> - one special character
                    </small>
                </div>
            </div>
            <div class="form-control-box" formGroupName="passwordGroup">
                <input formControlName="confirmPassword" type="password" class="password ele"
                    placeholder="Confirm password" />
                <div *ngIf="registrationForm.get('passwordGroup.confirmPassword')?.invalid && (registrationForm.get('passwordGroup.confirmPassword')?.dirty)"
                    class="errors">
                    <small *ngIf="registrationForm.get('passwordGroup.confirmPassword')?.errors?.['required']">
                        The confirm password is required.<br>
                    </small>
                    <small *ngIf="registrationForm.hasError('passwordMatch', 'passwordGroup')">
                        The passwords are diffrent.
                    </small>
                </div>
            </div>
            <div *ngIf="getSuccessMessage" class="alert" role="alert">
                {{ getSuccessMessage }}
            </div>
            <div *ngIf="getErrorMessage" class="alert errors" role="alert">
                <span [innerHTML]="getErrorMessage"></span>
            </div>
            <button type="submit" class="clkbtn" [disabled]="registrationForm.invalid"
                [ngClass]="{'disabled-btn': registrationForm.invalid}">Signup</button>
        </form>
    </div>
</div>