@import "/form-ele-clkbtn-style.scss";

.login-container {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15vh;
  max-width: 500px;
  box-shadow: 8px 8px 20px rgb(78, 82, 83);
  background-color: aliceblue;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  font-family: "Baloo 2", cursive;
  .btn-box {
    position: relative;
    .btn-close {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -10px;
      right: -15px;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      font-size: 28px;
      border: none;
      background-color: rgb(0, 171, 194);
      box-shadow: 18px 1px 49px rgb(78, 82, 83);
      .icon-cancel::before {
        margin: 0px;
        color: rgb(255, 255, 255);
      }
      &:hover {
        cursor: pointer;
        background-color: rgb(235, 232, 232);
        .icon-cancel-1::before {
          color: rgb(0, 171, 194);
        }
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  .slider {
    height: 50px;
    min-width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(
      to right,
      rgba(88, 23, 210, 1) 28%,
      rgba(0, 212, 255, 1) 100%
    );
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
  }
  .moveslider {
    left: 50%;
    transform: translateX(0%);
  }
  .btn {
    height: 50px;
    width: 300px;
    margin: 30px auto;
    box-shadow: 10px 10px 25px rgb(23, 188, 210);
    background-color: rgb(0, 171, 194);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .login,
    .signup {
      font-size: 24px;
      font-weight: 500;
      color: rgb(255, 255, 255);
      border: none;
      outline: none;
      background-color: transparent;
      position: relative;
      cursor: pointer;
    }
  }
  .form-section {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
    padding: 20px 0;
    .login-box {
      margin-top: 50px;
      &:last-child {
        margin-top: 30px;
      }
    }
    .login-box,
    .signup-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;
      height: 100%;
      max-width: 500px;
      padding: 0px 20px;
      font-family: "Baloo 2", cursive;
      .form-control-box .alert {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 10px;
      }
    }
  }
}
