body {
  background: linear-gradient(
    47deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(88, 23, 210, 1) 28%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 0;
  height: 100%;
  font-family: "Baloo 2", cursive;
}

a {
  text-decoration: none;
}
