.wrapper-form-account {
  display: flex;
  flex-direction: column;
  width: 95%;
  border-radius: 15px;
  margin: 15px auto;
  background-color: aliceblue;
  padding-bottom: 20px;
  .title-update-account {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
  }
  h1 {
    font-size: 32px;
  }
  .account-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-group {
      display: flex;
      flex-direction: column;
      padding: 15px;
      max-width: max-content;
      label {
        font-weight: 600;
        text-align: left;
      }
      input {
        height: 50px;
        width: 400px;
        outline: none;
        border: none;
        color: rgb(77, 77, 77);
        background-color: rgb(240, 240, 240);
        border-radius: 50px;
        padding-left: 30px;
        font-size: 18px;
      }
      .errors {
        color: red;
      }
    }
    .clkbtn {
      height: 50px;
      width: 150px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 24px;
      border-radius: 50px;
      background-image: linear-gradient(
        47deg,
        rgba(88, 23, 210, 1) 28%,
        rgba(0, 212, 255, 1) 100%
      );
      border: none;
      cursor: pointer;
      &:active {
        transform: scale(0.9);
      }
    }
    .disabled-btn {
      background-image: linear-gradient(
        47deg,
        rgb(85, 85, 85) 28%,
        rgb(41, 41, 41) 100%
      );
      color: white;
      cursor: not-allowed;
      &:active {
        transform: none;
      }
    }
  }
}

@media only screen and (max-width: 532px) {
  input {
    max-width: 300px;
  }
}
