<section class="wrapper-form-account">
    <div class="title-update-account">
        <h1>Modification account data</h1>
    </div>
    <form class="account-box" [formGroup]="accountForm" (ngSubmit)="onSumbitUpdate()">
        <div class="form-group">
            <label for="firstName">First name: </label>
            <input formControlName="firstName" type="text" />
            <div *ngIf="accountForm.get('firstName')?.invalid && (accountForm.get('firstName')?.dirty)" class="errors">
                <small *ngIf="accountForm.get('firstName')?.errors?.['required']">The first name is
                    required.
                    <br></small>
                <small *ngIf="accountForm.get('firstName')?.errors?.['minLength'] || ['maxLength']">The first
                    name must be between min 3 and max 20 letters.<br></small>
                <small *ngIf="accountForm.get('firstName')?.errors?.['pattern']">The first name cannot have
                    numbers.</small>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last name: </label>
            <input formControlName="lastName" type="text" />
            <div *ngIf="accountForm.get('lastName')?.invalid && (accountForm.get('lastName')?.dirty)" class="errors">
                <small *ngIf="accountForm.get('lastName')?.errors?.['required']">The last name is
                    required.<br></small>
                <small *ngIf="accountForm.get('firstName')?.errors?.['minLength'] || ['maxLength']">The last
                    name must be between min 3 and max 20 letters.<br></small>
                <small *ngIf="accountForm.get('firstName')?.errors?.['pattern']">The last name cannot have
                    numbers.</small>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input formControlName="password" type="password">
            <div class="errors" *ngIf="accountForm.get('password')?.invalid && accountForm.get('password')?.dirty">
                <small *ngIf="accountForm.get('password')?.errors?.['required']">The password is
                    required.<br></small>
                <small *ngIf="accountForm.get('password')?.errors?.['minLength'] || ['maxLength']">The password
                    must be between min 8 and max 30 letters.<br></small>
                <small *ngIf="accountForm.get('password')?.errors?.['pattern']">The password must contain at
                    least: <br> - one uppercase letter <br> - one lowercase letter <br> - one special character
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm password: </label>
            <input formControlName="confirmPassword" type="password">
            <div class="errors"
                *ngIf="accountForm.get('confirmPassword')?.invalid && accountForm.get('confirmPassword')?.dirty">
                <small *ngIf="accountForm.get('confirmPassword')?.errors?.['required']">The confirm password is
                    required.<br>
                </small>
                <small *ngIf="accountForm.get('confirmPassword')?.errors?.['passwordMatch']">The passwords are
                    diffrent.</small>
            </div>
        </div>
        <div class="form-group">
            <label for="imageUrl">Image url: </label>
            <input formControlName="imageUrl" type="text">
            <div class="errors" *ngIf="accountForm.get('imageUrl')?.invalid && accountForm.get('imageUrl')?.dirty">
                <small *ngIf="accountForm.get('imageUrl')?.errors?.['required']">The image url is
                    required.<br></small>
                <small *ngIf="accountForm.get('firstname')?.errors?.['minLength'] || ['maxLength']">The
                    image url is must be between min 2 and max 32 letters.</small>
            </div>
        </div>
        <button type="submit" class="clkbtn">Update</button>
    </form>
</section>