.wrapper-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-products {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 25px 50px;
    background-color: aliceblue;
    border-radius: 15px;
    font-weight: 700;
    h1 {
      margin: 0;
      font-size: 32px;
      letter-spacing: 5px;
    }
    p {
      font-size: 22px;
    }
  }
  .list-product {
    width: 95%;
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 2em;
    .product {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      padding: 25px;
      background-color: aliceblue;
      border-radius: 5%;
      .product-img {
        display: flex;
        align-items: center;
        img {
          width: 100%;
          max-width: 240px;
          max-height: 240px;
        }
        .product-description {
          position: absolute;
          z-index: 0;
          max-width: 150px;
          padding: 10px;
          background-color: rgb(212, 212, 212);
          border-radius: 10px;
          visibility: hidden;
        }
        &:hover {
          .product-description {
            visibility: visible;
          }
        }
      }
      .product-name {
        font-size: 22px;
        font-weight: bold;
      }

      .quantity-product {
        .product-price {
          margin-right: 5px;
        }
        .button-change-quantity {
          cursor: pointer;
        }
      }
      .add-to-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        .button-add {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 5px;
          border-radius: 5px;
          border: 0;
          box-shadow: 0px 0px 6px 0px rgb(154, 155, 167);
          padding: 10px;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            background-color: darkgray;
          }
          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
  }
  .pagination {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 25px 50px;
    border-radius: 15px;
    .page {
      margin: 15px;
      padding: 0;
      row-gap: 2em;
      .btn-page {
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media only screen and (max-width: 341px) {
  .wrapper-products {
    .title-products {
      width: 90%;
    }
  }
}
