<section class="wrapper-products">
    <div class="title-products">
        <h1> {{getTitle}} </h1>
        <p> ({{quantityOfProduct}})</p>
    </div>
    <div class="list-product">
        <div class="product" *ngFor="let product of listProduct">
            <span class="product-name">{{product.name}}</span>
            <span class="product-img"><img src={{product.imageUrl}} alt="{{product.name}}">
                <span class="product-description">{{product.description}}</span>
            </span>
            <div class="amount-product">
                <span class="product-price">{{getPrice(product)}} PLN</span>
                <input #box (keyup.enter)="changeProductQuantity(product.id, box.value)"
                    (blur)="changeProductQuantity(product.id, box.value)" type="number"
                    value="{{getProductQuantity(product.id)}}" min="1" max="100">
                <button class="button-change-amount" (click)="increaseProductQuantity(product.id)">
                    <i class="icon-plus"></i>
                </button>
                <button class="button-change-amount" (click)="decreaseProductQuantity(product.id)">
                    <i class="icon-minus"></i>
                </button>
            </div>
            <div class="add-to-cart">
                <button class="button-add" type="submit" (click)="addToBasket(product.id)">
                    <span>Add to cart</span>
                    <i class="icon-cart-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <nav class="pagination">
        <ul *ngFor="let count of countPagesArray">
            <button class="btn-page" (click)="getPageProducts(count)">{{count+1}}</button>
        </ul>
    </nav>
</section>