.wrapper-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  .home-img {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    border-radius: 10%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      filter: drop-shadow(2px 4px 6px black);
    }
  }
  .product-pages-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 1em;
    .product-page {
      background-color: azure;
      padding: 30px;
      border-radius: 15px;
      a {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}
