<section div="wrapper-reset-password">
    <div class="title-reset-password">
        <h1>Reset password</h1>
    </div>
    <form class="form-box" [formGroup]="resetPasswordForm" (ngSubmit)="onSumbitResetPassword()">
        <div class="input-box">
            <label for="email">Email:</label>
            <input formControlName="email" type="text" class="email ele" placeholder="Email">
            <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.dirty"></div>
        </div>
    </form>
    <div class="response-message">
        {{getMessage}}
    </div>
</section>