<section class="reset-password-wrapper">
    <div class="reset-password-box">
        <div class="title-reset-password">
            <h1>Reset password</h1>
        </div>
        <form class="form-box" [formGroup]="resetPasswordForm" (ngSubmit)="onSumbitResetPassword()">
            <div class="input-box">
                <label for="email"></label>
                <input formControlName="email" type="text" class="email ele" placeholder="Email">
                <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.dirty"></div>
            </div>
            <div class="response-message" *ngIf="getMessage">
                {{getMessage}}
            </div>
            <button type="sumbit" class="clkbtn" [disabled]="resetPasswordForm.invalid"
                [ngClass]="{'disabled-btn': resetPasswordForm.invalid}">Send link</button>
        </form>
    </div>
</section>