@import "/form-ele-clkbtn-style.scss";

.reset-password-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  .reset-password-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: fit-content;
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 2em;
    .title-reset-password {
      font-size: large;
      h1 {
        margin-top: 0;
      }
    }
  }
  .response-message {
    margin-top: 10px;
  }
}
