<section class="form-container">
    <div class="form-wrapper">
        <div class="title-box">
            <h1>Reset password</h1>
        </div>
        <form class="form-group-box" [formGroup]="resetPasswordForm" (ngSubmit)="onSumbitResetPassword()">
            <div class="input-box">
                <label for="email"></label>
                <input formControlName="email" type="text" class="email ele" placeholder="Email">
                <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.dirty"
                    class="errors">
                    <small *ngIf="resetPasswordForm.get('email')?.errors?.['required']">
                        The email is required.<br>
                    </small>
                    <small *ngIf="resetPasswordForm.get('email')?.errors?.['pattern']">
                        Invalid the email format.<br>
                    </small>
                </div>
            </div>
            <div class="response-message" *ngIf="responseMsg">
                {{responseMsg}}
            </div>
            <button type="sumbit" class="clkbtn" [disabled]="resetPasswordForm.invalid"
                [ngClass]="{'disabled-btn': resetPasswordForm.invalid}">Send link</button>
        </form>
    </div>
</section>