.navigation {
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: rgba(20, 20, 20);
  border-bottom: 1px solid white;
  .nav-logo {
    background-repeat: no-repeat;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: "Baloo 2", cursive;
    font-size: 24px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
    width: 30%;
    ul {
      padding-left: 0;
      margin: 0;
      width: 100%;
      display: block;
      position: relative;
      list-style: none;
      li {
        padding: 1rem;
        text-align: center;
      }
      .nav-submenu {
        background-color: rgb(24, 24, 24);
        left: 0;
        opacity: 0;
        position: absolute;
        visibility: hidden;
        z-index: 1;
        li {
          text-align: center;
          display: block;
          a {
            color: rgb(255, 255, 255);
            display: block;
          }
          &:hover {
            text-decoration: underline;
          }
        }
        &:hover {
          visibility: visible;
          opacity: 1;
          display: block;
        }
        &:last-child {
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
        }
      }
      &:hover {
        border-left: 1px dashed white;
        border-right: 1px dashed white;
      }
      &:hover .nav-submenu {
        visibility: visible;
        opacity: 1;
        display: block;
        border: none;
      }
    }
  }
  .nav-user {
    display: flex;
    justify-content: center;
    width: 25%;
    form {
      margin-top: auto;
      margin-bottom: auto;
      .search,
      .btn-search {
        padding: 4px 8px;
        border-radius: 10px;
      }
      .search {
        border: none;
        padding-right: 15px;
        &:focus {
          border-right: none;
        }
      }
      .btn-search {
        position: relative;
        left: -35px;
      }
      .btn-search :hover {
        cursor: pointer;
      }
    }
    .icon-basket {
      color: white;
    }
    .icon-basket,
    .icon-search {
      margin-top: auto;
      margin-bottom: auto;
    }
    .btn-log {
      padding: 8px 12px;
      margin-left: 8px;
      color: white;
      font-size: 14px;
      letter-spacing: 0.3px;
      background-image: linear-gradient(
        47deg,
        rgba(88, 23, 210, 1) 28%,
        rgba(0, 212, 255, 1) 100%
      );
      border-radius: 15px;
      border: none;
      box-shadow: none;
    }
  }
}
