<nav class="navigation">
  <div class="nav-logo">
    <a href="#">
      <img src="/assets/images/logo2.png" alt="" width="230px" height="80px">
    </a>
  </div>
  <div class="nav-menu">
    <ul *ngFor="let category of getCategories">
      <li>{{category.name}}</li>
      <ul class="nav-submenu" *ngFor="let subcategory of category.subcategoriesDto">
        <li><a [routerLink]="['/subcategories', subcategory.id, 'products']">{{subcategory.name}}</a></li>
      </ul>
    </ul>
  </div>
  <div class="nav-user">
    <form>
      <input type="search">
    </form>
    <a href="#">Login</a>
    <a href="#">Signup</a>
  </div>
</nav>