.wrapper-products {
  width: 100%;
  .list-product {
    width: 95%;
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 1.5em;
    .product {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      padding: 25px;
      background-color: aliceblue;
      border-radius: 5%;
      .product-name {
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
