<div class="wrapper-orders">
    <div class="title">
        <h1>Your orders</h1>
    </div>
    <div class="orders-box">
        <table>
            <thead>
                <tr class="thead-box">
                    <th>Name User</th>
                    <th>Total Price</th>
                    <th class="delivery-address">Delivery Address</th>
                    <th>Date of purchase</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders" [routerLink]="[order.id]">
                    <td>{{ order.nameUser }}</td>
                    <td>{{ order.totalPrice }} PLN</td>
                    <td class="delivery-address">{{ order.delivery.deliveryAddress}}</td>
                    <td>{{ order.dateOfCreation | date: 'dd-MM-yyy HH:mm:ss' }}</td>
                    <td>{{ order.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>