<div class="wrapper-orders">
    <div class="title">
        <h1>Your orders</h1>
    </div>
    <div class="box-orders">
        <div class="order" *ngFor="let order of orders">
            <div class="order-data">
                <p><span class="data">Name user: </span>{{order.nameUser}}</p>
                <p><span class="data">Products price: </span>{{order.totalPrice}} PLN</p>
                <p><span class="data">Delivery address: </span><br>{{order.delivery.deliveryAddress}}</p>
                <p><span class="data">Date of created: </span>{{order.dateOfCreation | date: 'dd-MM-yyy HH:mm:ss'}}</p>
                <p><span class="data">Orders status: </span>{{order.status}}</p>
            </div>
        </div>
    </div>
</div>